@import url(https://fonts.googleapis.com/css?family=Righteous&display=swap);

body {
  margin: 0;
  font-family: 'Righteous', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  grid-template-areas: "header" "main" "footer";
  background-image: linear-gradient(-20deg, rgba(107, 74, 255, 0.5) 0%, #6944ff 100%);
}
.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}






